= `${uname}, confirm your PotatoSync account!\n\rIn order to use your newly created account, you need to verify your email address.\n\rJust click this link.\n\rhttps://127.0.0.1/user/verify/${token}\n\r\n\rA big thank you from the POSP team!`
